:root {
    --background-color: rgb(51, 51, 51);
    --text-color: rgb(204, 204, 204);
    --footer-color: rgb(127, 127, 127);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background-color:var(--background-color);
    color: var(--text-color);
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    padding: 25px 25px 0 25px;
}

.details {
    grid-row: 1;
    grid-column: 1;
    place-self: start;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1rem;
}

.region {
    margin: 0;
}

.current {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2rem;
}

.current > h3, .current > h1{
    margin: 0;
}

.current > h1.temp {
    font-size: 8rem;
}

div.conditions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
}

.conditions > p {
    margin: 0;
}

p.condition {
    grid-row: 1;
    grid-column: 1 / -1;

    text-align: center;
}

.conditions > p.high {
    grid-row: 2;
    grid-column: 1;
    justify-self: start;

    font-size: 1rem;
}

.conditions > p.low {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;

    font-size: 1rem;
}

div.misc {
    grid-row: 1;
    grid-column: 3;
    align-self: start;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}

.interact {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* button.toggle {
    cursor: pointer;
    padding: 12px;
    font-size: 1rem;
    border-radius: 10px;
} */

input#search {
    border: 0;
    padding: 12px;
    width: 250px;
    font-size: 1rem;
    border-radius: 10px;
}

.today {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
}

.today > h2 {
    margin: 0;
}

div.hourly {
    display: flex;
    flex-direction: column;

    width: fit-content;
    padding: 0 25px 0 25px;
}

.hourly > h4 {
    text-align: left;
    margin: 0;
}

div.hours {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

div.hours > div:first-child p.time,
div.hours>div:first-child p.hour-temp {
    font-weight: bold;
}

div.hour {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    align-items: center;

    text-align: center;
}

div.week {
    width: min-content;
    padding: 0 25px 0 25px;
}

.week > h4 {
    text-align: left;
    margin: 0;
}

div.days {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

div.days > div:first-child p.day-name,
div.days > div:first-child p.high,
div.days > div:first-child p.low {
    font-weight: bold;
}

div.day {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    justify-items: center;
}

.day > .day-name {
    grid-row: 1;
}

.day > .icon {
    grid-row: 2;
    margin: 0;
}

.day > .low {
    grid-row: 3;
    margin: 0;
}

.day > .high {
    grid-row: 4;
    margin: 0;
}

footer {
    align-self: stretch;
    background-color: var(--footer-color);
    padding: 0;
    width: inherit;
}

footer p {
    text-align: center;
}

.footer-link {
    color: inherit;
}